<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <link rel="stylesheet"th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/login.css}">
    <script th:src="@{/bootstrap-3.3.7-dist/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap-3.3.7-dist/js/login.js}"></script>
</head>

<body>
 <div class="center-in-center div-color">
     <div class="row">
         <form class="form-horizontal" >
             <p class="col-lg-offset-2 col-lg-8 col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8">LOGIN FORM</p>
             <div class="col-lg-offset-2 col-lg-8 col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8">
                 <input type="text" class="form-control" id="userName" name="userName"  placeholder="用户名">
             </div>

             <div class="col-lg-offset-2 col-lg-8 col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8">
                 <input type="password" class="form-control" id="password"  name="password" placeholder="密码">
             </div>

             <div class="col-lg-offset-2 col-lg-8 col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8">
                    <div class="pull-right">
                        <a class="aStyle" onclick="register()">register</a>
                        <label>|</label>
                        <button type="button" onclick="login()" class="btn btn-danger pull-right">Login</button>
                    </div>
             </div>
         </form>
     </div>
     <div class="bottomDiv">

     </div>
 </div>

<!--注册弹窗-->
 <div id="myModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
     <div class="modal-dialog" role="document">
         <div class="modal-content" style="border-radius: 30px;">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <h4 style="color: #D9534F;" class="modal-title text-center" id="gridSystemModalLabel">Register</h4>
             </div>
             <div class="modal-body">
                 <div class="row">
                     <form class="form-horizontal" method="post">
                         <div class="col-lg-offset-2 col-lg-8 col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8">
                             <input onblur="registerUserName()" type="text" class="form-control" id="registerName" name="userName" th:value="${userName}" placeholder="用户名">
                         </div>

                         <div class="col-lg-offset-2 col-lg-8 col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8">
                             <input type="password" class="form-control" id="registerPassword"  name="password" th:value="${password}" placeholder="密码">
                         </div>

                         <div class="col-lg-offset-2 col-lg-8 col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8">
                             <select id="post" name="post" class="form-control" th:value="${post}">
                                 <option value="员级">员级</option>
                                 <option value="师级">师级</option>
                             </select>
                         </div>
                         <div class="col-lg-offset-2 col-lg-8 col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8">
                             <div class="modal-footer">
                                 <button  type="button" class="btn btn-default" data-dismiss="modal">close</button>
                                 <button type="button" onclick="userRegister()" class="btn btn-danger">register</button>
                             </div>
                         </div>
                     </form>
                 </div>

             </div>

         </div>
     </div>
 </div>

</body>
</html>